{{define "footer"}}
<footer id="mdb-footer" class="mt-5">
    <div class="text-center p-3">
        My Listing 2022
    </div>    
</footer>
<script type="text/javascript">
    $("#admin-logout-link").on("click", function(e){
        e.preventDefault();
        $( "#admin-logout-form" ).submit();
    });
</script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
{{end}}