<!doctype html>
<html lang="en">
    <head>
        <title>
            My listing{{ with .Title }} | {{ . }}{{ end }}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="My listing">
        {{ template "meta" . }}
		{{ template "headScripts" . }}
    </head>
    <body>
        {{ template "header" }}

		<div class="container">
			{{ with .Message }}
			<p>{{ . }}</p>
			{{ end }}
			{{ with .Title }}
			<div class="title">
				<h1>{{ . }}</h1>
			</div>
			{{ end }}
			{{ with .Content }}
			<p>{{ . }}</p>
			{{ end }}

            <h3>List of objects</h3>
            <ul>
                <li><a href="/pages">Pages</a></li>
            </ul>
		</div>

        {{ template "footer" }}
    </body>
</html>